@model IEnumerable<pureba2register.Models.ReferenciasPersonales>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InformacionPersonal.NombresEgresado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentescoReferencia.NombreTipoParentesco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoReferencia.NombreTipoReferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombresReferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerApellidoReferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellidoReferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CargoReferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoFijoReferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtTelefonoReferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoMovilReferencia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InformacionPersonal.NombresEgresado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentescoReferencia.NombreTipoParentesco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoReferencia.NombreTipoReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombresReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellidoReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellidoReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargoReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoFijoReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtTelefonoReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoMovilReferencia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReferenciasPersonalesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReferenciasPersonalesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReferenciasPersonalesID })
        </td>
    </tr>
}

</table>
