@model IEnumerable<pureba2register.Models.InformacionProfesional>

@{
    ViewBag.Title = "Index";
}

<h2>Egresados por año</h2>



<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.InformacionPersonal.NombresEgresado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InformacionPersonal.PrimerApellidoEgresado)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FechaTerminacionProfesional)
        </th>

        <th></th>
    </tr>

    @foreach (var item in ViewBag.resultado)
    {
        <tr>
            <td>
                @Url.Content(item.NombresEgresado)
            </td>

            <td>
                @Url.Content(item.PrimerApellidoEgresado)
            </td>

            <td>
                @item.fechaTerminacionProfesional
            </td>

            <td>

                @Html.ActionLink("Detalles", "Details", new { id = item.InformacionProfesionalID })

            </td>
        </tr>
    }

</table>