@model pureba2register.Models.PublicacionesEnEspera

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PublicacionesEnEspera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinalizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinalizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoPublicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoPublicacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PublicacionEnEspera }) |
    @Html.ActionLink("Back to List", "Index")
</p>
