@model IEnumerable<pureba2register.Models.AgregarOferta>

@{
    ViewBag.Title = "Oferta laboral";
}

<h2>Oferta laboral</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerfilRequerido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerfilRequerido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Cambiar Estado", "Edit", new { id = item.AgregarOfertaID }) |
            @Html.ActionLink("Details", "Details", new { id = item.AgregarOfertaID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AgregarOfertaID })
        </td>
    </tr>
    }

</table>
