@model pureba2register.Models.InformacionPersonal

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InformacionPersonal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumento.NombreTipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumento.NombreTipoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombresEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombresEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerApellidoEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerApellidoEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoApellidoEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoApellidoEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimientoEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimientoEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDocumentoEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDocumentoEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaExpedicionDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaExpedicionDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexoEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexoEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionResidenciaEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionResidenciaEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoMovilEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoMovilEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoFijoEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoFijoEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtencionTelefonoEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtencionTelefonoEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroActaGrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroActaGrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoEgresado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
