@model IEnumerable<pureba2register.Models.CarreraProfesional>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCarrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionCarrera)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCarrera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionCarrera)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarreraProfesionalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarreraProfesionalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarreraProfesionalID })
        </td>
    </tr>
}

</table>
