@model pureba2register.Models.InformacionLaboral

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InformacionLaboral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InformacionPersonal.NombresEgresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformacionPersonal.NombresEgresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RangoSalarial.CantidadRangoSalarial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangoSalarial.CantidadRangoSalarial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrabajaActualmente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrabajaActualmente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombresJefeLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombresJefeLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoJefeLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoJefeLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoJefeLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoJefeLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEmpresaLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEmpresaLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionEmpresaLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionEmpresaLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoOcupacionLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoOcupacionLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIngresoLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngresoLaboral)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
